@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
body>div:first-child,
div#__next,
div#__next>div {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  height: 100%;
}

:root {
  --font-size-5: 24px;
  --boost-grey: #BBB;
  --boost-light-grey: #EEE;
}